.lb-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.lb-load{
  position: fixed;
  width: 130px;
  height: 140px;
  background: url("../lb-img/load.gif") no-repeat;
  z-index: 10000;
  top:50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
}
.lb-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 1;
}
.lb-container {
  position: fixed;
  z-index: 10001;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  padding: 3px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0;
}
.lb-img {
  border-radius: 3px;
  display: block;
  opacity:0;
}

.lb-container .lb-close {
  padding: 0;
  margin: 0;
  border: 0;
  width: 25px;
  height: 25px;
  background: url("../lb-img/cancel.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: 5px;
  transform: translateY(-120%);
  -webkit-transform: translateY(-120%);
  -moz-transform: translateY(-120%);
  -ms-transform: translateY(-120%);
  opacity: .7;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}
/*
.lb-container .lb-prev,
.lb-container .lb-next{
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  background: url("../lb-img/prev.png") no-repeat;
  background-size: 100%;
  width: 45px;
  height: 45px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
}
.lb-container .lb-next{
  background: url("../lb-img/next.png") no-repeat;
  background-size: 100%;
  right:0;
  left: auto;
    
}
.lb-container:hover .lb-prev,
.lb-container:hover .lb-next,
.lb-container:focus .lb-prev,
.lb-container:focus .lb-next{
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
}*/
.lb-container .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}
.lb-container .lb-title {
  position: absolute;
  width: 70%;
  bottom: -38px;
  left: 5px;
  font-size: 1em;
  color: #eee;
  font-family: sans-serif;
}
.lb-fadeIn {
  opacity:1;
  transition: opacity 0.5s linear .1s;
  -webkit-transition: opacity 0.5s linear .1s;
  -moz-transition: opacity 0.5s linear .1s;
}
.lb-fadeOut {
  opacity:0;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
}