.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
  font-size: 1em;
}
.lightbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  cursor: pointer;
}
.lightbox_none{
    display: none;
}
.lightbox_load:after{
  content: '';
  position: fixed;
  width: 90px;
  height: 100px;
  background-image: url("../lb-img/load.gif");
  background-repeat:  no-repeat;
  background-size: 100%;
  z-index: 10001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightbox__container {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px;
  border-radius: 3px;
  background-color: #fff;
  cursor: default;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.lightbox__container:focus{
    outline: 0;
}
.lightbox__img {
  border-radius: 3px;
  display: block;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.lightbox__close {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  line-height: 1;
  color: #fff;
  width: 30px;
  position: absolute;  
  right: 0;
  top: -5px;
  transform: translateY(-100%);
}
.lightbox__close::-moz-focus-inner{
    border: 0;
}
.lightbox__close:hover {
  cursor: pointer;
}
.lightbox__close:focus {
  outline: 1px dotted #fff;
  outline-offset: 2px;    
}
.close__img{
  width: 100%;
  display: block;
}
.lightbox__info{
  font: 1.1em sans-serif;
  position: fixed;
  left: 0;
  bottom: -25px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0;
}
.fadeIn{
    opacity: 1;
}